data/lmdb/lmdb
data/text/test.txt
data/text/train.txt
data/text/labelmap_voc.prototxt
dataset
models/VGG/300x300
models/VGG/text
evaluation/low_acc
evaluation/proposed
evaluation/useless
evaluation/vgg_only
evaluation/data.zip
evaluation/test_list.txt
evaluation/test_list_all.txt
evaluation/test_list_ha.txt
__pycache__/
*.so
*.py[cod]
services/results
services/results_model2
services/img
services/original
services/text/text_test_lmdb
services/text/text_train_lmdb
